*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'inter', sans-serif;
}
.container{
    width: 550px;
    height: 250px;
    background-color: rgb(255, 234, 238);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10rem auto;
    padding: 1.5rem;

}
.heading{
    margin-top: 1.5rem;
    /* margin-bottom: 10px; */
}
.para{
    margin: 2rem;
    font-weight: 500;
}
button{
    background-color: black;
    color: white;
    font-weight: 500;
    padding: 0.5rem 6rem ;
    cursor: pointer;
}
button:hover{
    background-color: darkslategrey;
    transition: all ease-out 0.2s;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255); 
  justify-content: center;
  align-items: center;
}
